// Cursor
.cursor {
	// font-size: 64px;
	color: #000;
	position: fixed;
	z-index:999999;
}

#user-list, #message-board {
	height: 200px;
	overflow-y: scroll;
	box-shadow: inset 0px 0px 6px #E2E2E2;
	-moz-box-shadow: inset 0px 0px 6px #E2E2E2;
	-webkit-box-shadow: inset 0px 0px 6px #E2E2E2;
}
#message-board {

}

#chat_main {
	padding-bottom:15em;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}	
}

.alignright {
	float:right;
}
.floatright {
	float: right;
	margin-left: 1em;
}

footer a {
	font-size: 50px;
	color: #444;
}
.social-wrap {
	width: 44px;
	margin: 0 auto;
}