<% include header.html %>

<h1><%= title %></h1>
<div id="primary">
    <div class="col-20">
        <div id="user-list">
        </div>
    </div>
    <div class="col-80">
        <div id="message-board">
            <ul id="messages"></ul>
        </div>
        <br>
        <div class="controls">
            <form action="">
                <input id="m" autocomplete="off" autofocus />&nbsp;<button>Send</button>
            </form>
        </div>
    </div>
    <br>
</div>

<% include footer.html %>