<!doctype html>
<html>
<head>
    <title>Richardkeller.net</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="">
    <meta name="description" content="Basic html template">
    
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <!-- Bootstrap /w Flat UI -->
    <link rel="stylesheet" type="text/css" href="Flat-UI-master/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Flat-UI-master/css/flat-ui.css">
    <!-- Bootstrap /w Flat UI END-->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
<div class="container">
    <br>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">RichardKeller.net</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">           
                <li><a href="/">About</a></li>
                <li><a href="/chat">Chat</a></li>
                <!-- <li><a href="/rproxy">Proxy</a></li> -->
                <!-- <li><a href="/template">Template</a></li> -->
            </ul>           
<!--             <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>            
                    </div>
                </div>               
            </form> -->
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
</div>
<div class="container">