<% include header.html %>
	
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h1>
				About
			</h1>
			<img width="200px" src="https://avatars3.githubusercontent.com/u/3095540?v=2&s=460" class="floatright" alt="">
			<p>
				It all started with a floppy disk chess game, on to an insatiable appetite for playing StarCraft and Diablo.
				<a href="http://www.htmlgoodies.com/" target="_blank">HTML Goodies</a> helped me make websites for my favorite games and sports teams on <a target="_blank" href="http://en.wikipedia.org/wiki/GeoCities">GeoCities</a> and <a href="http://en.wikipedia.org/wiki/Angelfire" target="_blank">Angelfire</a>. I didn't use stylesheets or javascript. I had frame tags! Frame tags were the greatest web technology to me. I spent more time working on the HTML than the content; I was creating and working with things I liked, because it was fun. The websites I created regularly donned the <a href="#" data-toggle="tooltip" title="Don't judge me!">Internet Explorer badges</a>, fire/explosion GIFs, and ofcourse under construction images when I was in development mode.
			</p>
			<div class="clearfix"></div>
			<p>
				<button class="toggle-gifs btn btn-primary">Show GIFs</button>
			</p>
			<div class="gif-container" style="display:none;">
				
				<div class="col-md-2">
					<img src="images/ieget_animated.gif" alt="I got this IE badge from a very old website (1981).">
				</div>
				<div class="col-md-2">
					<img src="images/explosion.gif" alt="">
				</div>
				<div class="col-md-6">
					<img src="images/construction_line.gif" alt="">
				</div>
				<div class="col-md-2">
					<img src="images/spinning_construction.gif" alt="">
				</div>

			</div>
			<div class="clearfix"></div>
			<blockquote>
				<i>
					I am a web developer working for GuRuStu in downtown Tulsa, Oklahoma.
					These days, I enjoy working on Nodejs, Ruby on Rails, and Wordpress projects.
				</i>
			</blockquote>
		</div>

	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<p>Some web technologies I am interested in today:</p>
			<ul>
				<li><a href="http://gruntjs.com/getting-started">http://gruntjs.com/getting-started</a></li>
				<li><a href="http://expressjs.com/guide.html">http://expressjs.com/guide.html</a></li>
				<li><a href="https://www.npmjs.org/package/mongoose">https://www.npmjs.org/package/mongoose</a></li>
				<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
			</ul>
		</div>	
	</div>
<% include footer.html %>