.cursor {
  font-size: 64px;
  color: #000;
  position: fixed;
  z-index: 999999; }

#user-list, #message-board {
  height: 200px;
  overflow-y: scroll; }

#message-board ul {
  margin: 0;
  padding: 0;
  list-style: none; }
