.cursor {
  font-size: 64px;
  color: #000;
  position: fixed;
  z-index: 999999; }

#user-list, #message-board {
  height: 200px;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 6px #E2E2E2;
  -moz-box-shadow: inset 0px 0px 6px #E2E2E2;
  -webkit-box-shadow: inset 0px 0px 6px #E2E2E2; }

#chat_main ul {
  margin: 0;
  padding: 0;
  list-style: none; }
